@{
    ViewBag.Title = "Index";
}


<div class="container">
    <h1 style="color:ghostwhite ">Level 4</h1>

    <div class="navbar navbar-inverse col-sm-12">

        <div class="navbar-collapse" data-toggle="collapse" style="font-size: large" data-target=".navbar-inverse-collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("App Labs", "Index", "AppLabs")</li>
            </ul>

        </div>
    </div>
</div>
