
@model dynamic

@{
    ViewBag.Title = "AboutMe";
}


<h1 style="color:ghostwhite ">Rebecca Pollard</h1>
<div class="navbar navbar-inverse col-sm-12">

    <div class="navbar-collapse" data-toggle="collapse" style="font-size: large" data-target=".navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("App Labs", "Index", "AppLabs")</li>
            <li><a href="https://github.com/RPollard66/rpollard66.github.io">GitHub</a></li>
        </ul>
    </div>
</div>
<blockquote>
    <p>For twelve years, I had the privilege to work as a mathematics instructor at <a href="http://longtrailschool.org/">The Long Trail School</a> in Dorset, VT. During my tenure at Long Trail, I worked with some wonderful folks and taught some amazing kids, but I had always dreamed of combining my love of math and algorithms with my fascination for computers. I decided to leave teaching, and I enrolled at the <a href="http://www.swcguild.com">Software Craftsmanship Guild</a> in Akron, Ohio. When this cohort ends on June 27, 2014, I look forward to starting my career in this exciting and ever changing field.</p>
    <div style="font-size: 20px">Visit my profile on <a href="https://www.linkedin.com/profile/view?id=345123773&trk=nav_responsive_tab_profile">LinkedIn</a></div>
</blockquote>

<p style="font-size: 18px">In addition to being passionate about software development, I am also passionate about hiking and am a proud member of the <a href="http://adk46er.org/">Adirondack 46ers.</a> Below is a picture of me on Gothics Mt in the Adirondack High Peaks in upstate New York.</p>
<div class="text-center"><img src="../../Pictures/OnGothics_small.jpg" alt="" /></div>