@model dynamic

@{
    ViewBag.Title = "Index";
}


<h1 style="color:ghostwhite ">Rebecca Pollard</h1>
<div class="navbar navbar-inverse col-sm-12">

    <div class="navbar-collapse" data-toggle="collapse" style="font-size: large" data-target=".navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("About Me", "AboutMe", "Home")</li>
            <li>@Html.ActionLink("App Labs", "Index", "AppLabs")</li>
            <li><a href="https://github.com/RPollard66/rpollard66.github.io">My Git Hub</a></li>
            <li><a href="mailto:bpollard66@gmail.com">Contact</a> </li>
        </ul>

    </div>
</div>
<div class="col-sm-12">
    <h2>C#/ .Net Developer Portfolio</h2>
    <h3><strong>Welcome!</strong></h3>
    <p style="font-size: 20px">In the nav bar above, you will find links to some of the work I have done so far as an apprentice at the <a href="http://www.swcguild.com">Software Craftsmanship Guild</a>, as well as a link to my <a href="https://github.com/RPollard66/rpollard66.github.io">GitHub</a> page. This site is a work in progress and will be updated frequently as I build my portfolio.</p>
    
    <p><em>Last update May 23, 2014</em></p>
    <div class="text-center"><img src="../../Pictures/dacks.jpg" alt="" /></div>

</div>



