<!DOCTYPE html>
<html>
    <head>
        <script src="~/Scripts/jquery-1.9.0.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/BlueTheme.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <title>Rebecca Pollard</title>
    </head>

    <body>
        <div class="container">
            @RenderBody()
        
        </div>   
    </body>
</html>
