
@model dynamic

@{
    ViewBag.Title = "Index";
}


<h1 style="color:ghostwhite ">Rebecca Pollard</h1>
<div class="navbar navbar-inverse col-sm-12">

    <div class="navbar-collapse" data-toggle="collapse" style="font-size: large" data-target=".navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("App Labs", "Index", "AppLabs")</li>
            <li><a href="https://github.com/RPollard66/rpollard66.github.io">GitHub</a></li>
        </ul>
    </div>
</div>
<blockquote>
    <p>For thirteen years, I was priviledged to work as a mathematics instructor at <a href="http://longtrailschool.org">The Long Trail School</a> in Dorset, Vermont. Over the years, I worked with some outstanding folks and some amazing kids. However, for many years I had dreamed of combining my love for math and algorithms with my fascination with computers: I wanted to program, and I wanted to do this for a living. However, the thought of going back for a computer science degree did not appeal, and I was excited when I learned about the concept of "coding boot camps" from a friend. I decided to go for it, and spent several months researching my options, ultimately landing at the <a href="http://www.swcguild.com">Software Craftsmanship Guild</a> in Akron, Ohio. I have had the time of my life at the guild, made some great friends and have learned more than I thought humanly possible in a very short time. I look forward to landing a junior developer position and starting my career in this exciting and ever changing field.</p>
    
</blockquote>
<div style="font-size: 20px">Visit my profile on <a href="https://www.linkedin.com/profile/view?id=345123773&trk=nav_responsive_tab_profile">LinkedIn</a></div>